{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome To Our Project{% endblock %}
{% block css %} {% endblock %}
{% block content %}
	<div class="row fh5co-post-entry">
	{% for data in allArticle %}
		<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
			<figure>
				<a href="{% url 'article' id=data.id %}"><img src="{{ data.image.url }}" style="height:200px;width:100%" alt="Image" class="img-responsive"></a>
			</figure>
			<span class="fh5co-meta"><a href="{% url 'topic' name=data.category.name %}">{{ data.category.name }}</a></span>
			<h2 class="fh5co-article-title"><a href="{% url 'article' id=data.id %}">{{ data.title }}</a></h2>
			<h4><a href="{% url 'author' name=data.article_author.name.username %}">{{ data.article_author.name }}</a> </h4>
			<span class="fh5co-meta fh5co-date">{{ data.posted_on }}</span>
		</article>
	{% endfor %}
	</div>


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="pagination">
					<span class="step-links">
						{% if allArticle.has_previous %}
							{% comment %} <a href="?page=1">&laquo; first</a> {% endcomment %}
							<a href="?page={{ allArticle.previous_page_number }}">previous</a>
						{% endif %}

						<span class="current" >
							Page {{ allArticle.number }} of {{ allArticle.paginator.num_pages }}.
						</span>

						{% if allArticle.has_next %}
							<a href="?page={{ allArticle.next_page_number }}">next</a>
							{% comment %} <a href="?page={{ allArticle.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
						{% endif %}
					</span>
				</div>
			</div>
		</div>
		
	</div>
{% endblock  %}
{% block js %}{% endblock %}