{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome To Our Project{% endblock %}
{% block css %}
	<style>
		#fh5co-offcanvas .fh5co-bio {
    width: 290px;
    padding: 50px;
}
	</style>
{% endblock %}
{% block profile %}
	<div class="fh5co-bio">
		<figure>
			<img src="{{ auth.profile_image.url }}" style="width:100px;height:100px;" alt="Free HTML5 Bootstrap Template" class="img-responsive">
		</figure>
		<h3 class="heading">About Me</h3>
		<h2>{{ auth.name }}</h2>
		<p>{{ auth.details }}</p>
		<ul class="fh5co-social">
			<li><a href="#"><i class="icon-twitter"></i></a></li>
			<li><a href="#"><i class="icon-facebook"></i></a></li>
			<li><a href="#"><i class="icon-instagram"></i></a></li>
		</ul>
	</div>
{% endblock %}
{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Posted Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in post %}
                <tr>
                    <td>{{ data.title }}</td>
                    <td>{{ data.posted_on }}</td>
                    <td><a href="">Edit</a> | <a href="">Delete</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}
{% block js %}{% endblock %}